.row-eq-height {
    display: table-cell;
}

.blog {
    max-width: 86%;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media #{$md} {
        max-width: 100%;
    }

    .card {
        transition: all .3s ease-in-out;
        margin-bottom: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        background: #fff;
        border: 0;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            transform: translate(10px, -10px);
        }

        img {
            object-fit: cover;
            object-position: center top;
            max-height: 300px;
            border-radius: 5px;
        }

        em {
            font-size: 13px;
            font-style: normal;
        }

        .card-body {
            padding: 2.5rem;
        }

        .card-title {
            font-size: 18px;
            font-weight: 600;
            color: $red-color;
        }

        p {
            color: rgba(0, 0, 0, .5);
            font-size: 16px;
            line-height: 26px;
        }

        .category {
            text-transform: uppercase;
            font-style: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, .5);
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid rgba(0, 0, 0, .2);
        }
    }

    .has-search .form-control {
        padding-left: 2.375rem;
        padding: 2rem 2rem 2rem 4rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        left: 21px;
        top: 10px;
        right: auto;
    }
}