.listing-container {
    max-width: 80%;

    .home-listing {
        li.media {
            background-color: ivory;
            border: solid 1px #e6e6e6;
            border-radius: 5px;
            margin-bottom: 30px;
            transition: transform .3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateY(-10px);
                width: 100%;
                box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
                -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
                -o-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
            }

            .media-body {
                padding: 20px 20px 0 10px;

                ul {
                    padding-left: 20px;

                    li {
                        list-style: square;
                        border: 0;
                    }
                }

                .listing-view-more {
                    margin-top: 5px;
                    text-align: right;
                    float: right;
                    color: $red-color;
                    margin-top: 10px;
                    transition: transform .3s ease-in-out;

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }

            .host-detail {
                text-align: center;
                width: 200px;
                border-left: solid 1px #e6e6e6;

                .figure {
                    img {
                        width: 130px;
                        border: solid 2px $red-color;
                        border: 6px 0 0 6px;
                    }

                    .figure-caption {}
                }

            }
        }
    }

    .list-paging {
        margin-top: 20px;
        padding-top: 30px;
        float: left;
        width: 100%;
    }
}