.listing-container {
    max-width: 80%;
    @media #{$md} {
        max-width:100%;
    }

    .top-filters {
        float: left;
        clear: both;
        margin-top: 15px;

        @media #{$sm} {
            margin-top: 0;
            padding: 0;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                float: left;
                transition: all .3s ease-in-out;

                a {
                    padding: 7px 20px;
                    border: solid 2px $blue-color;
                    color: $blue-color;
                    margin: 0 5px;
                    transition: all .3s ease-in-out;

                    @media #{$sm} {
                        float: left;
                        padding: 3px 5px;
                        display: block;
                        margin-bottom: 5px;
                        font-size: 12px;
                    }
                }

                &:hover {
                    a {
                        color: $white-color;
                        background-color: $red-color;
                        border-color: $red-color;
                    }
                }
            }
        }
    }
    .home-listing {
        @media #{$sm} {
            width:100%;
        }
        li.media {
            background-color: ivory;
            border: solid 1px #e6e6e6;
            border-radius: 5px;
            margin-bottom: 30px;
            transition: all .3s ease-in-out;
            cursor: pointer;
            @media #{$sm} {
                display: block;
            }

            &:hover {
                transform: translateY(-10px);
                width: 100%;
                box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.2);
                -o-box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.2);
            }

            .listing-carousel{
                @media #{$sm} {
                    padding:0;
                }
            }
            .media-body {
                padding: 20px 20px 0 10px;

                ul {
                    padding-left: 20px;

                    li {
                        list-style: square;
                        border: 0;
                    }
                }

                .listing-view-more {
                    margin-top: 5px;
                    text-align: right;
                    float: right;
                    color: $red-color;
                    margin-top: 10px;
                    transition: transform .3s ease-in-out;

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }

            .host-detail {
                text-align: center;
                width: 200px;
                border-left: solid 1px #e6e6e6;
                @media #{$sm} {
                    width:100%;
                    text-align: center; 
                }
                .row{
                    width:100%;
                }

                .figure {
                    width:100%;
                    @media #{$sm} {
                        margin-top:20px;
                    }
                    img {
                        width: 130px;
                        border: solid 2px $red-color;
                        border: 6px 0 0 6px;
                    }

                    .figure-caption {
                        .badge{
                            font-weight: normal;
                            letter-spacing: 1px;
                            font-size: 12px;
                        }
                    }
                }

            }
        }
    }

    .list-paging {
        margin-top: 20px;
        padding-top: 30px;
        float: left;
        width: 100%;
    }
}