.listing-details {
    max-width: 86%;

    @media #{$md} {
        max-width: 100%;
    }

    h5 {
        font-size: 16px;
        color: $red-color;
        margin-top: 20px;
    }

    p {
        font-size: 14px;
        color: $text-color;
    }

    .figure {
        width: 100%;

        @media #{$sm} {
            margin-top: 20px;
        }

        img {
            width: 130px;
            border: solid 2px $red-color;
            border: 6px 0 0 6px;
        }

        .figure-caption {
            clear: both;
            width: 100%;

            .badge {
                font-weight: normal;
                letter-spacing: 1px;
                font-size: 12px;
                border-radius: 0;
            }
        }
    }

    .left-detail {
        .badge {
            font-size: 13px;
            font-weight: normal;
            padding: 5px 10px;
            margin-top: 7px;
            width: calc(96% / 2);
            border-radius: 0;

            &:hover {
                background: $red-color;
            }

            a {
                color: $white-color;
            }
        }

        .view-all {
            color: $text-color;
            text-decoration: underline;

            &:hover {
                color: $red-color;
            }
        }
    }

    .right-detail {
        @media #{$lg} {
            padding-left: 20px;
        }

        .detail-slider {
            img {
                border-radius: 3px;
            }
        }

        .amenities-links {
            width: 100%;
            text-align: center;
            padding: 8px 15px;
            margin-bottom: 15px; 
            font-weight: 500;
            font-size: 14px;
            &:hover{
                background: $red-color;
            }
            a{
                color:$white-color;
            }
        }

        .amenities {
            .badge {
                padding: 7px 14px;
                margin-bottom: 10px;
                border-radius: 0;
                font-weight: 500;
                background: transparent;
                border:solid 1px $red-color;
                color:$red-color;
                &:hover {
                    background-color: $red-color;
                    color:$red-color;
                    a{
                        color:$white-color; 
                    }
                }

                a {
                    color: $red-color;
                    font-weight: 500;
                }
            }
            textarea{
                border-radius: 0;
                min-height: 100px;
                resize: none;
            }
            .button{
                padding:10px 25px;
                margin-top:20px;
                font-size: 14px;
                font-weight: 500;
                float: right;
            }
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin: 7px 0;

                span {
                    font-weight: 500;

                    &:after {
                        content: ':';
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }

                em {
                    font-style: normal;
                    color: $red-color;
                }
            }
        }

        strong {
            font-weight: 500;
            color: $red-color;
        }
    }
}