header {
    position: relative;
    z-index: 1;
    margin-top: 15px;

    @media #{$md} {
        margin-top: 0;
    }

    .navbar-brand {
        height: auto;
        padding: 0;
        @media #{$md} {
            flex: auto;
        }
    }

    nav.navbar {
        width: 100%;
        position: relative;
        min-height: auto;
        margin-bottom: 0;
        border: 0px solid transparent;
        padding: 10px 0;

        .navbar-toggler {
            background: $red-color;
            color: $white-color;
            padding: 11px 15px;
            font-size: 2.25rem;
        }

        .navbar-nav {
            float: right;
            margin-top: 10px;

            li {
                border-radius: 5px;
                transition: all .3s ease-in-out;

                &:hover {
                    transform: translateY(-3px);
                }

                a {
                    transition: all .3s ease-in-out;

                    font-size: 18px;
                    font-weight: 600;
                    color: $blue-color;
                    padding: 17px 25px !important;

                    @media #{$md} {
                        
                        font-size: 14px;
                        font-weight: 500;
                        padding: 12px 10px !important;
                    }

                    &:hover {
                        color: $red-color;
                    }

                    // &:after {
                    //     content: '.';
                    // }
                }

                &:last-child {
                    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
                    background: $white-color;
                }
            }
        }
    }
}