@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

$red-color: #c40721;
$grey-color: #6e757a;
$blue-color: #314584;
$white-color : #fff;
$patric: 'Patrick Hand', cursive;
$work :  'Work Sans', sans-serif;
 

$xs: "only screen and (max-width : 575.98px)";
$sm: "only screen and (max-width : 767.98px)";
$md: "only screen and (max-width : 991.98px)";
$lg: "only screen and (max-width : 1199.98px)";
$lg-width: "only screen and (max-width : 1499.98px)";
$xl: "only screen and (min-width : 1500px)";
$very-large-desktop: "only screen and (min-width : 1750px)";