.below-header {
    padding: 5rem 0;
    background-image: url(../images/header-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:1000px; 
        background: rgba(0, 0, 0, .4);
    }
    a.button {
        color: $white-color;
        &:hover{
            color:$red-color;
        }
    }

    a.bg-transparent {
        color: $blue-color;
    }

    h3 {
        font-size: 64px;
        color: $white-color;
        font-weight: 700;
        @media #{$md} {
            font-size: 34px;
            text-align: center;
        }
    }
    p{
        @media #{$md} {
            // font-size: 34px;
            text-align: center;
        }
    }

    h4 {
        color: $white-color;
        font-weight: 500;
        font-size: 36px;
        span{
            font-weight: 700;
            font-style: italic;
            font-family: $patric;
            letter-spacing: 4px;
        }
        @media #{$md} {
            font-size: 20px;
            text-align: center;
        }
    }
    .content{
        transform: translateY(60%);
        @media #{$md} {
            transform: translateY(0%);
        }
    }

    .banner-right {
        .section-form {
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            background: $white-color;
        }
        
        .form-control{
            border:solid 1px #ccc;
            box-shadow: 0 0 0;
            padding:5px 15px;
            height: auto;
            font-size: 16px;
            font-weight: 500;
        }
        select.form-control{
            padding:13px 15px;
        }
        .select-passenger{
            label{
                text-align: center;
                width:100%;
            }
            border:solid 1px rgba(0, 0, 0, .1);
            padding:10px;
            input{
                border:0;
                text-align: center;
            }
            button{
                background: transparent;
                border:0;
            }
        }
        h2 {
            background: $red-color;
            color: $white-color;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            padding: 25px 30px;
            margin-bottom: 0;
        }

        form {
            background: $white-color;
            padding: 3rem;
        }
    }
}

.our-services{
    padding:7rem 0;
    @media #{$md} {
        padding: 3rem 0;
    }
    .cta{
        width:100%;
        text-align: center;
    }
    .section{
        box-shadow:0 0 13px rgba(0, 0, 0, .1);
        padding:30px;
        background: $white-color;
        transition: all .3s ease-in-out;
        @media #{$md} {
            margin-top: 40px;
        }
        &:hover{
            background:#f9f9f9;
            transform: translateY(-10px);
        }
    }
    .section-heading-left{
        font-size: 45px;
        font-weight: 500;
        margin: 30px 0;
        line-height:68px;
        color:$blue-color;
        margin-top:8rem;
        @media #{$md} {
            margin-top:0;
            text-align: center;
        }
    }
    .section-heading{
        font-size: 28px;
        font-weight: 700;
        margin: 22px 0;
        line-height:37px;
        color:$blue-color;
    }
}
